{% extends 'base.html.twig' %}

{% block title %}Mail de réinitialisation de mot de passe envoyé{% endblock %}

{% block body %}
    <div class="container-fluid">
        <p>
            Si un compte est lié à cette adresse e-mail, un e-mail contenant un lien de réinitialisation de mot de passe a été envoyé.
            Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
        </p>
        <p>Si vous n'avez pas reçu l'e-mail, <a href="{{ path('app_forgot_password_request') }}">essayez à nouveau</a>.</p>
    </div>
{% endblock %}
