{% extends '@EasyAdmin/layout.html.twig' %}

{% block content %}
    <div class="jumbotron">
        <h1 class="lead">Bienvenue dans l'interface d'administration de Sortir.com</h1>
    </div>
{% endblock %}