{% extends '@EasyAdmin/layout.html.twig' %}

{% block content %}
    <div class="jumbotron">
        <h1 class="lead">Importation d'utilisateurs par fichier CSV</h1>

        <form>
            <div class="form-group">
                <label for="exampleFormControlFile1">fichier CSV à importer</label>
                <input type="file" class="form-control-file" id="exampleFormControlFile1">
            </div>
        </form>
    </div>
{% endblock %}

