{% extends 'base.html.twig' %}

{% block title %}New Sortie{% endblock %}

{% block body %}
    <h1>Créer une Sortie</h1>

    {{ include('sortie/_form.html.twig') }}

    <a href="{{ path('sortie_index') }}" class="btn btn-primary">retourner à la liste</a>
{% endblock %}
