{% block body %}
    <ul class="nav justify-content-end">

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ path('app_logout') }}">Déconnexion</a>
            </li>

        {% else %}

            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ path('app_register') }}">S'inscrire</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ path('app_login') }}">Se connecter</a>
            </li>

        {% endif %}
    </ul>
{% endblock %}