{% block body %}
    {% if is_granted('IS_AUTHENTICATED_ANONYMOUSLY') %}
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ path('home') }}">S'inscrire</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ path('login') }}">Se connecter</a>
            </li>
        </ul>
    {% endif %}
{% endblock %}